{% extends 'layout.html' %}
{% block title %}EditRooms{% endblock %}

{% block content %}

<h2>Správa miestností</h2>


<div>
    <form action="{{url_for('edit_rooms_search',id_conference = conference)}}" method="POST" autocomplete="off">
        <p>Vyhľadať miestnosť :</p>
        <table>
            <tr>
                <td><label for="find_room">Názov miestnosti</label></td>
                <td><input type="text" name="find_room" placeholder="Názov miestnosti" id="find_room" required><br></td>
            </tr>
        </table>
        <input type="submit" value="Vyhľadať">
        <div class="msg">{{ msg }}</div>
    </form>

    <form action="{{ url_for('edit_rooms_search',id_conference = conference) }}" method="POST" autocomplete="off">
        <input type="submit" value="Vymazať vyhľadávanie">
    </form>
    <input type="submit" onclick="window.location.href='{{ url_for('conference',id_conference = conference)}}';"
        value="Späť na konferenciu">
</div>

<table>
    {%if find %}

    <tr>
        <td>
            Názov miestnosti :
        </td>
        <td>
            {{rooms['name']}}
        </td>
        <td>
            <input type="submit" id="adminedit"
                onclick="window.location.href='{{url_for('edit_selected_room',id_conference = conference,room=rooms['name'])}}';"
                value="Upraviť">
        </td>
    </tr>

    {% else %}

    {%for room in rooms%}
    <tr>
        <td>
            Názov miestnosti:
        </td>
        <td>
            {{room['name']}}
        </td>
        <td>
            <input type="submit" id="adminedit"
                onclick="window.location.href='{{url_for('edit_selected_room',id_conference = conference,room=room['name'])}}';"
                value="Upraviť">
        </td>

    </tr>
    {%endfor%}
    {% endif %}

</table>


{% endblock %}